{% extends 'base.html' %}

{% block title %} Авторизация {% endblock %}

{% block body %}
    <div class="text-center">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1>Авторизация</h1>
        <form action="" method="post" class="w-25 p-3 mx-auto">
            {{ form.hidden_tag() }}
            <div class="form-group m-2">
                <label for="email">{{ form.email.label }}</label>
                {{ form.email(size=255, class_="form-control") }}
                {% for error in form.email.errors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group m-2">
                <label for="password">{{ form.password.label }}</label>
                {{ form.password(size=32, class_="form-control") }}
                {% for error in form.password.errors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group m-2">
                {{ form.submit(class_="btn btn-lg btn-primary btn-block") }}
            </div>
        </form>
    </div>
{% endblock %}